<html>
<head>
    <title>$generalUtil.htmlEncode($pageTitle)</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.tab" content="admin.blueprint-validators"/>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
</head>
<body>
    <content tag="selectedWebItem">admin.blueprint-validators</content>
    <div class="aui-message aui-message-error">
        <p class="title">
            <strong>$generalUtil.getText("com.mesilat.general.error.title")</strong>
        </p>
        <p>$generalUtil.getText("com.mesilat.general.error.permission")</p>
    </div>
</body>
</html>
