<html>
<head>
    <title>$generalUtil.htmlEncode($pageTitle)</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.tab" content="vbp-configure-validators"/>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResourcesForContext("vbp-configure")
</head>
<body>
    <content tag="selectedWebItem">vbp-configure</content>
    <div id="com-mesilat-configure-validators" class="wiki-content">
        <p>Configure validators form loading...</p>
    </div>
</body>
</html>
