<html>
  <head>
    <title>$action.getText("com.mesilat.vbp.space.admin.tab.label")</title>
    <meta name="decorator" content="main"/>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResourcesForContext("vbp-configure")
  </head>
  #applyDecorator("root")
    #decoratorParam("helper" $action.helper)
    #decoratorParam("context" "space-tab-link-vbp-space-config")

    #applyDecorator ("root")
      #decoratorParam ("context" "spacetoolspanel")
      #decoratorParam("helper" $action.helper)
      #decoratorParam("selectedSpaceToolsWebItem" "space-tools-link-vbp-space-config")

      <body>
        <h2>$action.getText("com.mesilat.vbp.space.admin.caption")</h2>
        #parse ("/templates/vbp/templates.vm")
      </body>
    #end
  #end
</html>
